/* General */
body {
	background-color: #263852;
	color: white;
}

/* Links */
a { 
	color:white;
}

a:hover {
	color: #aac5f0;
}

#article_title {
	font-size: 2em;
	font-weight: bold;
}

figure {
	text-align: center;
	font-style: italic;
}


/* Center contents */
header, footer {
	text-align: center;
}

/* Main area */
section {
  display: flex;
}
	main {
		padding-left: 25px;
		padding-right: 25px;
	}

/* Navigation bar */
nav {
	background: #041630;
	padding: 20px;
}

	nav ul {
		list-style-type: none;
		padding: 0;
	}
	
		nav li {
			background-color:#152741;
			text-align: center;
			font-size: 2em;
			display: block;
			padding: 25px;
			list-style-position:inside;
			border: 1px solid black;
		}

		nav li:hover {
			background-color:#374963;
		}

		nav a {
			text-decoration: none;
		}

/* Footer */
footer {
	background-color: white;
	width: 100%;
	padding: 10px;
	color: black;
}